<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.adyatma.consumerapp">
    <!-- This App Created By ADYATMA LAKATJINDA To Dicoding Indonesia -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="id.adyatma.dicodingbfaafinal.READ_DATABASE"
        android:protectionLevel="normal" />
    <uses-permission
        android:name="id.adyatma.dicodingbfaafinal.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/idcamp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/idcamp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>